@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    font-family: inherit;
    background-color: rgb(248, 248, 251);
}

ul {
    list-style: none;
    margin: 0px;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    color: #5E5E5E;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

#brand {
    background-color: rgb(22, 22, 22);
}

.brand-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
    height: 90px;
    padding: 20px 90px;
    color: white;
}

.account {
    color: white;
    cursor: pointer;
}

.account a {
    color: white;
}

.account a i {
    color: white;
    margin: 10px;
}


:root {
    --dark-grey: #161616;
    --medium-grey: #5E5E5E;
    --light-grey: #F8F8FB;
    --primary-color: #2B2B43;
    --hover-primary-color: #41417c;
    --white: white;
    --border: 1px solid #F8F8FB;
    --shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: inherit;
}

.btn {
    display: block;
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

.icon {
    padding: 0.5rem;
    background-color: #F8F8FB;
    border-radius: 10px;
}

.icon-logo {
    padding: 0.5rem;
    background-color: #F8F8FB;
    border-radius: 10px;
    font-size: 1rem;
}

.logo {
    margin-right: 1.5rem;
}

#nav-menu {
    border-bottom: 1px solid #F8F8FB;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
    padding: 10px 90px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    height: 50px;
}

.menu {
    position: relative;
    background: white;
}

.menu-bar li:first-child .dropdown {
    flex-direction: initial;
    min-width: 480px;
}

.menu-bar li:first-child ul:nth-child(1) {
    border-right: 1px solid #F8F8FB;
}

.menu-bar li:nth-child(n + 2) ul:nth-child(1) {
    border-bottom: 1px solid #F8F8FB;
}


.menu-bar .nav-link {
    font-size: 1rem;
    letter-spacing: -0.6px;
    padding: 0.3rem;
    min-width: 60px;
    margin: 0 0.6rem;
    color: #161616;
    cursor: pointer;
}

.menu-bar .nav-link:hover,
.dropdown-link:hover {
    color: #2B2B43;
}
.nav-start{
    position: static;
    z-index: 1;
}
.nav-start,
.nav-end,
.menu-bar,
.right-container,
.right-container .search {
    display: flex;
    align-items: center;

}

.dropdown {
    display: flex;
    flex-direction: column;
    min-width: 230px;
    background-color: white;
    position: absolute;
    top: 36px;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transform: scale(0.97) translateX(-5px);
    transition: 0.1s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.dropdown.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1) translateX(5px);
}

.dropdown ul {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: .5rem;
    font-size: 0.95rem;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.15rem;
}

.dropdown-btn span i {
    padding: .2rem;
}

.dropdown-btn i {
    padding: 0rem 1rem;
}

.dropdown-link {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    border-radius: 7px;
    transition: 0.1s ease-in-out;
    align-items: center;
    cursor: pointer;
}

.dropdown-link:hover {
    background-color: #F8F8FB;
}

.dropdown-link p {
    font-size: 0.8rem;
    color: #5E5E5E;
}

#hamburger {
    display: none;
    padding: 0.1rem;
    margin-left: 1rem;
    font-size: 1.9rem;
}

.body-container {
    width: 85vw;
    margin: auto;
    font-size: 12px;
    padding: 40px 40px 40px 40px;
}

.content-container {
    width: auto;
    background-color: white;
    min-height: 100px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 20px;
    height: 100%;
}

ul.breadcrumb {
    list-style: none;
}

ul.breadcrumb li {
    display: inline;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: #161616;
    content: "/\00a0";
}

ul.breadcrumb li a {
    color: #5E5E5E;
    text-decoration: none;
}

ul.breadcrumb li a:hover {
    color: #161616;
    text-decoration: underline;
}

.f500 {
    font-weight: 500;
}

.m1 {
    margin: 10px;
}

.p1 {
    padding: 10px;
}

.d-block {
    display: block;
}

.btn {
    text-align: center;
    padding: 0.6rem 1.4rem;
    font-size: 1rem;
    border-radius: 5px;
}

.btn-primary {
    background-color: #2B2B43;
    color: white;
    text-align: center;
}

.btn-primary:hover {
    background-color: #41417c;
    color: #F8F8FB;
    border-color: #41417c;
}


.btn-outline {
    color: #2B2B43;
    text-align: center;
    border-radius: 5px;
    border-color: #2B2B43;
}

.btn-outline:hover {
    background-color: #2B2B43;
    color: #F8F8FB;
    border-color: #161616;
}

.card-opticone {
    border: 0;
    border-radius: 0px;
}

.auth-body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-login-opticone {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    margin: auto;
    background-color: white;
}

.login-opticone {
    width: 90%;
    height: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    position: relative;
    padding: 20px;
}

.crud-buttons {
    display: flex;
}

.btn-sm {
    padding: .25rem .5rem;
    font-size: .85rem;
}
.th-action{
    width: 20px;
}




@media (max-width: 1100px) {
    #hamburger {
        display: block;
    }

    .menu-container {
        padding: 1.2rem;
    }

    .menu {
        display: none;
        position: absolute;
        top: 140px;
        left: 0;
        width: 100vw;
    }

    .menu-bar li:first-child ul:nth-child(1) {
        border-right: none;
        border-bottom: 1px solid #F8F8FB;
    }

    .dropdown {
        display: none;
        min-width: 100%;
        border: none !important;
        border-radius: 5px;
        position: static;
        top: 0;
        left: 0;
        visibility: visible;
        opacity: 1;
        transform: none;
        box-shadow: none;
    }

    .menu.show,
    .dropdown.active {
        display: block;
        box-shadow: 0px 10px 10px rgba(0, 0, 0, .3);
    }

    .dropdown ul {
        padding-left: 0.3rem;
    }

    .menu-bar {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        row-gap: 1rem;
        padding: 1rem;

    }

    .menu-bar .nav-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.2rem;
        margin: 0;
    }

    .menu-bar li:first-child .dropdown {
        min-width: 100%;
    }

    .menu-bar>li:not(:last-child) {
        padding-bottom: 0.5rem;
        border-bottom: 1px solid #F8F8FB;
    }
}

@media (max-width: 600px) {
    .col-w100{
        width: 100%;
    }
    .account a span {
        display: none;
    }

    .brand-container {
        padding: 20px;
    }

    .body-container {
        padding: 20px 20px 0px 20px;
    }
}